PORT=5001
FLASK_DEBUG=false
SECRET_KEY=your_secure_secret_key

# FYERS API v3 Credentials
FYERS_ID=XC04484
PIN=your_4_digit_pin
APP_ID=MXPA3JHTVP
APP_TYPE=100
APP_SECRET=your_fyers_app_secret
TOTP_KEY=your_totp_secret_key
REDIRECT_URI=http://127.0.0.1:5001/
